.main-div
{
    width: fit-content;
    position: fixed;
    right: 0rem;
    top: 14rem;
    border-radius: 7px 0px 0px 7px !important;
    z-index: 100;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 0.54;
}
.main-div:hover{
  	background: #D9D7D5 0% 0% no-repeat padding-box; 
}
.social-media-link{
    display: flex;
    flex-direction: column;
    width: fit-content !important;
    gap: 0.75rem 0;
    padding: 8px;
}
.social-media-link img{
    height: 2rem;
    width: 2rem;
}
.social-media-link img:hover{
   	height: 2.5rem;
	width: 2.5rem;
}
@media only screen and (max-width: 768px) {
	.main-div{
		display: none;
	}
}