.mainContainer{
    display: flex;
}
.hide {
  display: none;
}
.topButton {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;  
}
.downButton {
    position: fixed;
    bottom: 20px;
    right: 95px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}
@media only screen and (max-width: 1024px){
    .mainContainer{
        display: none;
    }
}