.dummy{
	color : black;
}
.container-header{
   background-color: white; 
}
.container-profileSurvey
{
	height: 200px;
    background: #008ba7;
    margin-top: -5px;
}

.container-profileSurvey h1 {
	text-align: center;
    font-size: 44px;
    padding-top: 76px;
    color: white;
    font-family: Play Display;
    font-weight: 600;
}
/* .container-profileSurvey img {
    position: absolute;
    top: 45px;
    right: 61px;
    width: 2rem;
    height: 2rem;
} */

.notificationCount{
    position: absolute;
    top: 1px;
    right: -4px;
    width: 20px;
    border: 0.5px solid black;
    border-radius: 50%;
    height: 20px;
    text-align: center;
    color: white;
    pointer-events: none;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    color: orange;
    font-weight: 800;
}

.div2 {
    	position: absolute;
     top: 45px;
    right: 61px;
    width: 2rem;
    height: 2rem;
}


.SaveButtonDiv {
    padding: 3px;
    background-color: #008ba7;
    width: fit-content;
    margin: 0px auto;
    border: 0.1px solid white;
}
.saveBtn
 {
   PADDING: 4px 15px 4px 15px;
    MARGIN-RIGHT: 1PX;
    background-color: #008ba7;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.saveBtn:hover {
    background-color: #036477;
}

span {      
    font-size: 1.1rem;
}

.ProfileText p{
    color: #008ba7;
	margin-bottom: 4%;
    font-size: 1.2rem;
}
.ProfileText{
	    margin: 10%;
    text-align: center;
}

@media only screen and (max-width: 780px){
     .SaveButtonDiv{
        margin-right: 11%;
     }

     .container-profileSurvey h1 {
         text-align: center;
    font-size: 30px;
    padding-top: 94px;
    color: white;
    }
}
.profileTextClass{
    cursor: pointer;
}

@media only screen and (max-width: 540px){
     .SaveButtonDiv{
        margin-right: 23%;
     }
    h1{
        font-size: 1.5rem;
    }
      .container-profileSurvey h1 {
    font-size: 22px;
    }
     span {
    font-size: 58%;
}
}

@media only screen and (max-width: 480px){
    .div2{
        display: none;
    }
}

/* @media only screen and (max-width: 400px){
     .SaveButtonDiv{
        margin-right: 20%;
     }

     span {
    font-size: 28%;
} 
} */

.container{
    position: relative;
    color: white;
    font-size: 1.125rem;
    text-align: center;
}
h1{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Playfair Display;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

p{
    max-width: 20.312 5rem;
}

.container img{
    width: 100%;
}
.bgImg{
    height: 46rem;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 17rem;
}