.demo-only {
	height: 100vh;
	position: fixed;
	background: rgba(0, 0, 0, 0.2);
	width: 100%;
	top: 0;
	left: 0;
}

.demo-only .slds-spinner_container {
	background: transparent;
}

.container {
	background-color: #008ba7;
}

.containerDiv {
	width: 95%;
	max-width: 550px;
	padding-top: 81px;
	margin: 0px auto 2%;
	padding-bottom: 38px;
	margin-bottom: 0px;
}

.containerDivHeader h1 {
	color: white;
	text-align: center;
	font-size: calc(16px + 1vw);
	line-height: calc(1.1em + 0.5vw);
	margin-bottom: 28px;
	font-size: 40px;
}

.containerDivHeader p {
	color: white;
	text-align: center;
	margin-bottom: 28px;
	font-size: 18px;
}

.containerDivInput label {
	color: white;
	font-weight: bold;
	font-size: 18px;
}

.input1 {
	padding: 0.65rem 0.6rem 0.65rem 1.2rem;
	width: 100%;
	margin-top: 6px;
}

.input1::placeholder,
.input2::placeholder {
	font-weight: 400	;
}

.input2 {
	padding: 8px 8px 8px 25px;
	width: 100%;
	margin-top: 6px;
	min-width: 100%;
	max-width: 100%;
}

.butterfly-img {
	position: absolute;
	margin: 164px 2px 0px 77px;
}

.butterfly-img img {
	width: 65%;
}

.buttondiv {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ButtonDivchild {
	background-color: #008ba7;
	padding: 4px;
	border: 2px solid rgba(255, 255, 255, 0.5);
	width: max-content;
	text-decoration: none;
	margin: 37px;
}

.button {
	background-color: #008ba7;
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: 5px 20px;
	color: white;
	font-size: 20px;
}

.ButtonDivchild:hover {
	background-color: #036477;
}

.button:hover {
	background-color: #036477;
}

@media only screen and (max-width: 1024px) and (min-width:768px) {
	.butterfly-img {
		margin: 164px 2px 0px 27px;
	}

	.butterfly-img img {
		width: 50%;
	}

}

@media only screen and (max-width: 768px) and (min-width:480px) {

	.butterfly-img img {
		display: none;
	}

}


@media only screen and (max-width: 480px) and (min-width: 320px) {

	.butterfly-img img {
		display: none;
	}
}