.sub-nav {
	width: 100%;
	background-color: #193a5a;
	position: relative;
    overflow-x: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;  
}
.sub-nav::-webkit-scrollbar{
	display: none;
}

.sub-nav-link {
	display: flex;
	list-style: none;
	/* margin-top: 0.9rem; */
}
.sub-nav-link li {
	padding: 1rem 3rem 1rem 8rem; 
	font-size: 22px;
	white-space: nowrap;
}
.sub-nav-link li>div {
	text-decoration: none;
	color: white;
	cursor: pointer;
}
.active-marker{
	height: 0.4rem;
	width: 2rem;
	background-color: #D77E0E;
	position: absolute;
	bottom: 0;
}
@media only screen and (max-width: 480px) and (min-width: 320px){
	.sub-nav-link li{
		/* padding: 3rem 1rem 1rem 1rem; */
		padding: 1rem;
		/* font-size: 17px; */
	}
}
@media only screen and (max-width: 768px) and (min-width: 480px){
	.sub-nav-link li{
		padding: 1rem 3rem 1rem 3rem;
		/* font-size: 17px; */
	}
}
@media only screen and (max-width: 1024px) and (min-width: 768px){
	.sub-nav-link li{
		padding: 2rem 3rem 1rem 3rem;
		/* font-size: 17px; */
	}
	 /* .sub-nav-link{
		margin-top: 0rem;
	} */
}