.container{
    background-color: #FFFFFF;
}

.main{
    display: flex;
    gap: min(8%,5rem);
    flex-direction: row;
}

.get-started-text-box {
   
    width: 100%;
    display: flex;
    justify-content: center;
    height: 37rem;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position: 0rem 0rem; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='567.998' height='542' viewBox='0 0 567.998 542'%3E%3Cg id='Background_Circle_Graphic' transform='translate(10.998 -1523)'%3E%3Cg id='Ellipse_57' data-name='Ellipse 57' transform='translate(37 1558)' fill='none' stroke='%23ff9f37' stroke-width='1' opacity='0.19'%3E%3Cellipse cx='260' cy='253.5' rx='260' ry='253.5' stroke='none'/%3E%3Cellipse cx='260' cy='253.5' rx='259.5' ry='253' fill='none'/%3E%3C/g%3E%3Cpath id='Subtraction_9' data-name='Subtraction 9' d='M22776.5,11164a135.283,135.283,0,0,1-34.437-4.435,133.327,133.327,0,0,1-31.059-12.533v-226.064a133.242,133.242,0,0,1,31.059-12.533,136.108,136.108,0,0,1,61.141-1.794,132.991,132.991,0,0,1,66.99,35.435,131.439,131.439,0,0,1,16.18,19.239,129.03,129.03,0,0,1,12.215,22.083,127.944,127.944,0,0,1,0,101.205,129.03,129.03,0,0,1-12.215,22.083,131.987,131.987,0,0,1-35.791,35.113,133.135,133.135,0,0,1-47.379,19.561A136.005,136.005,0,0,1,22776.5,11164Z' transform='translate(-22722 -9381)' fill='rgba(245,247,244,0.59)' opacity='0.818'/%3E%3Cellipse id='Ellipse_56' data-name='Ellipse 56' cx='237.5' cy='233' rx='237.5' ry='233' transform='translate(59 1579)' fill='%23f5f7f4' opacity='0.818'/%3E%3C/g%3E%3C/svg%3E");
    
}
.get-started-text-box div{
    width: 23rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.get-started-text-box div img{
    align-self: center;
    /* width: 43px; */
    height: 43px;
    margin-left: 45px;
    margin-bottom: 45.74px;

}
.get-started-text-box div h2{
    text-align: center;
    font: normal normal 800 2.5rem/3.25rem Playfair Display;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    display: inline-block;
    font-size: 2.2rem;
    margin-bottom: 24px;
    
}
.get-started-text-box div p{
    /* font-size: 1.2rem; */
    /* width: 27.5rem; */
    display: inline-block;
    text-align: left;
    font: normal normal normal 1.375rem/2rem IBM Plex Sans;
    letter-spacing: 0px;
    color: #343A40;
    opacity: 0.8;
    line-height: 40px;
    font-size: 20px;

}
.get-started-image-box-desktop{
    /* width: 60%; */
    /* position: relative;
    top: 6.5rem; */
    /* top: 11.5rem; */
    /* right: 3rem;
    height: fit-content; */
    /* margin-top: 75px; */
    position: relative;
    top: 15rem;
    right: 0rem;
    height: fit-content;
   
}
.get-started-image-box-tablet{
    /* width: 60%; */
    position: relative;
    top: 6.5rem;
    /* top: 11.5rem; */
    right: 3rem;
    height: fit-content;
    display: none;

}
.get-started-image-box-mobile{
    /* width: 60%; */
    position: relative;
    top: 6.5rem;
    /* top: 11.5rem; */
    right: 3rem;
    height: fit-content;
    display: none;
}
.get-started-image-box-desktop img, .get-started-image-box-mobile img, .get-started-image-box-tablet img{
    width: 95% !important;
     
}



.blue-button-box{
    /* border: 1px solid #ffffff; */
    margin: 1rem 0rem;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #008CA7;
    color: white;
    width: fit-content;
    height: auto;
    padding: 0.2rem;
    border: 1px solid white;
    font-weight: bold;
    margin-top: 36px;
}

.blue-button-box button{
    font-size: 1.125rem;
    /* background-color: #008ba7;
    height: 3rem;
    text-align: center;
    padding: 0rem 0.5rem;
    outline: 1px solid #ffffff57;
    outline-offset: -0.28rem;
    border: 3px solid #008ba7;
    line-height: 24px;
    padding-left: 1rem;
    padding-right: 1rem; */

    /* padding: 5px 1.1rem;
    margin: auto; */
    background-color: #008CA7;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    letter-spacing: 1px;
    font-family: IBMPlexSans;
    display: flex;
    justify-content: center;
}
.blue-button-box button:hover {
  background-color: #036477;
    outline: transparent;
}
.blue-box-center{
    display: flex;
    justify-content: center;
    
    
}

.get-pass-box{
   
    background-color: #008ba7;
    color: white;
    /* height: 22rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:371px;
    font-family: 'Playfair Display';
    opacity: 1;
    background-repeat: no-repeat;
    background-position: 3rem 50%;
}
.get-pass-box img{
    position: absolute;
    /* top: 15.35px; */
    /* bottom: 107.35px; */
    right: 1152.45px;
    left: 79.45px;
    /* width: 208px;
    height: 205px; */
    /* margin-top: 593px; */
    
}

.get-pass-box h2{
    /* font-size: 2rem; */
    /* padding: 1rem 0rem; */
    /* font-weight: bold; */
   
    /* height: 37px;
    margin-top: 80px; */
    text-align: center;
    font: normal normal 900 28px/36px Playfair Display;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.para-style{
    width: fit-content;
    text-align: center;
   
    /* display: flex;
    justify-content: center; */
}

.get-pass-box  p{
   /* font: normal normal normal 18px/24px IBM Plex Sans; */
       /* padding: 1rem 0rem; */
    /* font-size: 1.125rem; */
    /* margin-bottom: 52px; */
    /* font-family: 'Playfair Display';
     height: 47px; */
      /* width: fit-content; */
       /*line-height: 24px;*/
    text-align: center;
    
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    white-space: pre-line;
    margin-top: 40px;
   
}
 
@media only screen and (max-width: 1920px) and (min-height: 1080px){
    .get-started-image-box{
        top: 4.5rem;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 1024px){
 
    .get-started-text-box div p{
        font-size: inherit;
    }

    .get-started-image-box-desktop{
        top: 5rem;
         
    }
    .get-started-image-box-tablet{
        top: 5rem;
        display: block;
    }

}
@media only screen and (max-width: 1024px) and (min-width: 768px){

    .get-started-text-box div h2{
        font-size: xx-large;
        padding: 0rem 1.5rem;
    }

    .get-started-text-box div p{
        padding: 0rem 1.5rem;
          
    }
    .get-started-image-box-tablet{
        display: block;
    }
    .get-started-image-box-desktop{
        display: none;
            
    }
    
}
@media only screen and (max-width: 768px) and (min-width: 480px){
    .main{
        
        flex-wrap: nowrap;
        flex-direction: column;
    }
    
    .get-started-text-box div p{
        font-size: 20px;

    }
    .get-started-text-box div img{
        margin-right: 15%;
    }
    .get-started-image-box-desktop{
        display: none;
        width: 100%;
        position: unset;
        padding: 0rem 1rem 3rem;
          
    }
    .get-started-image-box-tablet{
        display: block;
        width: 100%;
        position: unset;
        padding: 0rem 1rem 3rem;
    }
    .get-started-text-box {
        height: 35rem;
        width: 100%;
         background-size: 87%;
        background-position: -4rem -4rem;
    }
    
} 
@media only screen and (max-width: 480px){
    .main{
        
        flex-wrap: nowrap;
        flex-direction: column;
    }
    
    .get-started-text-box {
        
        width: 100%;
        height: 24rem;
        

    }
    
    .get-started-text-box div img{
        width: 3rem;
        padding: 0rem 0rem 1rem;
    }
    .get-started-text-box div h2{
        font-size: 1.2rem;
        width: 100%;
        padding: 0rem 3.5rem 0.5rem;
    }
    .get-started-text-box div p{
        font-size: 20px;
        width: 100%;
        padding: 0rem 2rem;
    }
   
    .get-started-image-box-desktop{
        display: none;
        width: 100%;
        position: unset;
        padding: 0rem 1rem 3rem;
         
    }
    .get-started-image-box-tablet{
        display: none;
        width: 100%;
        position: unset;
        padding: 0rem 1rem 3rem;
    }
    .get-started-image-box-mobile{
        display: block;
        width: 100%;
        position: unset;
        padding: 0rem 1rem 3rem;
    }
    .get-pass-box p{
       padding: 1rem 1rem;
    }
       
    
    
    
}