/* ****************** */
/* .container{
   
} */
/***************************ifrem UI****************/
.ifrem-container{
    width: 98%;
    height: 90%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 2rem Auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    top: 3rem;
}
.ifrem-container > span{
    font-size: 2rem;
    color: white;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.ifrem-container > iframe {
    width: 80%;
    height: 90%;
}

 /***************************ifrem UI****************/
/**************************************** event ui css******************************************************/
.eventCard{
    position: absolute;
    display: none;
    z-index: 90;
    height:max-content;
    width: 25rem;
    box-shadow: 1px 6px 10px 1px #e5e5e5;
    background-color: white;
    padding: 4px;
}
.imgContainer{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 13rem;
    position: relative;
}
.hide-button{
    width: 21px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    margin-left: 91%;
    position: absolute;
    top: 6px;
    font-weight: bold;
    cursor: pointer;
}
.instructor-info-Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 93%;
    margin: 0px auto;
    padding: 22px 0px;
    height: 2rem;
    border-bottom: 2px solid rgb(184, 179, 179);
}
.instructor-info{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.instructor-info > span{
    margin-left: 7px;
}
.class-intencity{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.class-intencity > img{
   height: 31px;
   width: 31px;
}
.class-intencity > span{
    margin-left: 7px;
}
.class-name{
    width: 90%;
    margin: 0px auto;
    font-weight: bold;
    padding: 8px 0px;
}
.class-detail{
    width: 90%;
    margin: 0px auto;
    font-size: 0.9rem;
    padding: 11px 0px;
    color: #807575;
}
.class-detail > p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
} 
.card-footer-buttons{
    padding: 12px 0px;
    display: flex;
    align-items: center;
    width: 92%;
    margin: 0px auto;
}
.share-buttons{
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.share-buttons img {
    width: 40px;
}
.action-buttons{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}
.action-buttons > span{
    font-size: 1rem;
}
.box-orange-button {
    background-color: #008BA7;
    color: white;
    padding: 0.2rem;
    width: fit-content;
    height: fit-content;
    /* width: 14rem; */
}
.btnDisabled{
    background-color: gray !important;
    pointer-events: none !important;
}
.box-orange-button > .orange-button {
background-color: inherit;
pointer-events: inherit;
color: white;
border: 1px solid rgba(255, 255, 255, 0.5);
margin: auto;
align-items: center;
display: flex;
width: fit-content;
min-width: 4rem; 
justify-content: center;
padding: 0.4rem;
font-size: 0.8rem;
}
/**************************************** Calender Ui css******************************************************/

.time-details{
    background-color: white;
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    background: #008BA7 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #343a4091;
    color: white;
    height: 1.5rem;
    display: flex;
    padding: 0px 5px;
    align-items: center;
}
.calendar{
    width: 80%;
    margin: auto;
position: relative;
}
.day {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.day > li {
    margin: auto;
}
.month{
    margin: auto;
}
.month  .date {
   width: 14.2857%;
   height: 6.2rem;
   border: 1px solid rgb(197, 195, 195);
   float: left;
}
.todayDate{
    width: 14.2857%;
    height: 6.2rem;
    border: 1px solid rgb(197, 195, 195);
    float: left;
}
.todayDate > .tody-p{
    display: flex;
    height:40%;
}
.todayDate > .tody-p >.triangle-right {
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-left: 28px solid #7e964e;
    border-bottom: 14px solid transparent;
    margin: 8px 0px;
}
.todayDate > .tody-p > span{
    margin: 9px 4px;
    height: max-content;
    font-size: 1.2rem;
    float: left;
}
.date > .date-date{
    font-size: 1.2rem;
    height: 40%;
    padding: 7px 0px 0px 32px;
}
.notCalanderMonth{
    border:  0.5px solid rgb(231, 223, 223) !important;
    color:rgb(230, 220, 220) !important;
}
.events{
    height: 60%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
}
.events  .event{
    height: 18px;
    width: 20px;
    background-color: #008ba7;
    border-top-left-radius: 10px;
    margin: 3px auto;
   
}



/***************<<<<<<<<Media Queries>>>>>>>>**********************/
@media only screen and (max-width: 1200px) and (min-width: 1024px){

}
@media only screen and (max-width: 1024px) and (min-width: 768px){
    .calendar{
        width: 90%;
    }

    .todayDate > .tody-p >.triangle-right {
        border-top: 12px solid transparent;
        border-left: 20px solid #7e964e;
        border-bottom: 12px solid transparent;
        margin: 10px 0px;
    }
    .month .date {
        width: 14%;
        height: 5.2rem;    
    }
    .todayDate{
        width: 14%;
        height: 5.2rem;
    }
    .events{
        height: 55%;
    }
    .date > .date-date {
        padding: 7px 0px 0px 27px;
    }
    .events .event {
        height: 15px;
        width: 15px;
        margin: 3px auto;
    }
    /***    event card ui****/
    .eventCard{
        width: 21rem;
    }
    .imgContainer{
        height: 11rem;
    }
    .instructor-info-Container{
        width: 96%;
    }
    .class-name{
        width: 96%;
    }
    .class-detail{
    width: 96%;
    }
    .card-footer-buttons{
        width: 97%;
    }
    .action-buttons{
        width: 74%;
        margin-left: 7px;
    }
   /***    event card end****/
}
@media only screen and (max-width: 768px) and (min-width: 480px){
.calendar {
    width: 100%;
 }
 .todayDate > .tody-p >.triangle-right {
    border-top: 9px solid transparent;
    border-left: 16px solid #7e964e;
    border-bottom: 9px solid transparent;
    margin: 7px 0px;
}
.month .date {
    width: 14%;
    height: 4rem;    
}
.todayDate{
    width: 14%;
    height: 4rem;
}
.todayDate > .tody-p > span {
    font-size: 1rem;
    margin: 4px 2px;
   }
.events{
    height: 55%;
}
.date > .date-date {
    padding: 4px 0px 0px 16px;;
    font-size: 1rem;
}
.events .event {
    height: 12px;
    width: 12px;

}
/***************** event UI fixes************/
.eventCard {
    top: 3rem; 
    left: 50%;
    width: 20rem;
    transform: translate(-50%); 
}
.imgContainer{
    height: 10rem;
}
.instructor-info-Container{
    width: 97%;
}
.class-name{
    width: 97%;
}
.class-detail{
width: 97%;
}
.card-footer-buttons{
    width: 98%;
}
.action-buttons{
    width: 77%;
    margin-left: 3px;
}
/***************** event UI END************/

}
@media only screen and (max-width: 480px) and (min-width: 360px){

    .calendar {
        width: 100%;
     }
     .todayDate > .tody-p >.triangle-right {
        border-top: 9px solid transparent;
        border-left: 16px solid #7e964e;
        border-bottom: 9px solid transparent;
        margin: 6px 0px;
    }
    .month .date {
        width: 14%;
        height: 4rem;    
    }
    .todayDate{
        width: 14%;
        height: 4rem;
    }
    .todayDate > .tody-p > span {
        font-size: 1rem;
        margin: 4px 2px;
       }
    .events{
        height: 55%;
    }
    .date > .date-date {
        padding: 4px 0px 0px 16px;
        font-size: 1rem;
    }
    .events .event {
        height: 12px;
        width: 12px;
    
    }
/***************** event UI fixes************/
.eventCard {
top: 3rem; 
left: 50%;
width: 20rem;
transform: translate(-50%); 
}
.imgContainer{
height: 10rem;
}
.instructor-info-Container{
width: 97%;
}
.class-name{
width: 97%;
}
.class-detail{
width: 97%;
}
.card-footer-buttons{
width: 98%;
}
.action-buttons{
width: 77%;
margin-left: 3px;
}
/***************** event UI END************/

}

@media only screen and (max-width: 360px) and (min-width: 0px){
/***************** event UI fixes************/
.eventCard {
    top: 3rem; 
    left: 50%;
    width: 20rem;
    transform: translate(-50%); 
    }
    .imgContainer{
    height: 10rem;
    }
    .instructor-info-Container{
    width: 97%;
    }
    .class-name{
    width: 97%;
    }
    .class-detail{
    width: 97%;
    }
    .card-footer-buttons{
    width: 98%;
    }
    .action-buttons{
    width: 77%;
    margin-left: 3px;
    }
    /***************** event UI END************/
}