.row {
  display: flex;
  margin: 4rem 6rem 5rem 2rem;
}

.column {
  position:relative;
  flex: 50%;

}
.column h1 {
	font: normal normal 800 40px/52px Playfair Display;
}
.btn-container{
    display: flex;
    justify-content: space-between;
}

.box-blue-button {
    background-color: #008CA7;
    color: white;
    width: fit-content;
    height: auto;
    padding: 0.2rem; 
    white-space: nowrap;
}

.blue-button {
    padding: 0.5rem 1rem;
    margin: auto;
    background-color: #008CA7;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.box-white-button {
    background-color: #ffffff;
    width: fit-content;
    height: fit-content;
    padding: 0.2rem;
    white-space: nowrap;
	border: 1px solid #0091ab;
    margin-left: 24px;
    margin-right: 60px;
}

.white-button {
    padding: 0.5rem 2rem;
    margin: auto;
    background-color: #ffffff;
    color: #008da8;
	font-weight: 590;
    border: 1px solid #a9dfe7;
}

.white-button:hover {
    background-color: #C6C6C6;
}


.card-content-parent{
    display: flex;
    flex-direction: column;
    padding: 0rem 5rem;
}
.card-heading{
	margin-bottom: 2.5rem;
font-family: "Playfair Display";
font-size: 40px;
font-weight: normal;
line-height: 52px;
font-style: normal;
text-align: left;
color: #000000;
}

.card-content{
	margin: 0 0rem 5rem 0;
    font-family: "IBM Plex Sans";
font-size: 18px;
font-weight: normal;
line-height: 24px;
font-style: normal;
text-align: left;
color: #000000;

    /* font: normal normal normal 23px/27px IBM Plex Sans; */
}

.span-content{
    font-size: 1.1rem;
    /* font-family: IBMPlexSans; */
    letter-spacing: 0px;
    color: #008BA7;
    text-transform: uppercase;
    opacity: 1;
    font-weight: 600;
}

.span-style{
	
	margin-right:0.5rem;
	width: 1.5rem;
}
.step-margin{
    text-align: left;
    font: normal normal medium 18px/24px IBM Plex Sans;
    letter-spacing: 0px;
    color: #008BA7;
    text-transform: uppercase;
    opacity: 1;
	margin-bottom: 2.5rem;
}

.margin-buttons{
    margin-bottom:5rem;
}

.card-line{
    width:80%;
    text-align:center;
    height: 1px;
    background-color: #448ba7;
    border:none;
    margin: 0px auto;
}
 .image-dim{
    height: 21.5rem;
    width: 45rem;
    filter: blur(4px);
    -webkit-filter: blur(4px);

 }

 .centered {
 
    /* font-size: 22px;
    font-weight: 600; */
    padding: 0rem 2rem 3rem;
    font-family: "Playfair Display";
font-size: 28px;
font-weight: 900;
line-height: 36px;
font-style: normal;
text-align: center;
color: #ffffff;
}

.button-position {
    margin: 0px auto;
    width: fit-content;
}

.image-background{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.icon-position{
    padding:2rem 0rem;
    text-align: center;
}

.box-blue-button-white-border{
    background-color: #008CA7;
    color: white;
    width: fit-content;
    height: auto;
    padding: 0.2rem;
    border: 1px solid #ffffff;
    
}
 .blue-button:hover {
        
        background-color: #036477;;
    }
 .submit-button:hover{
        
        background-color: #036477;;
    }
    .tablet-view{
        display: none;
    }
    


@media only screen and (max-width: 1200px) and (min-width: 1024px){
    .tablet-view{
        display: none;
    }
    .row {
        display: flex;
        margin: 4rem 4rem 4rem 0rem;
    }

    .column {
    position:relative;
    flex: 50%;

    }
    .column h1 {
        font-weight: 900;
        font-size: 46px;
    }
    .btn-container{
        display: flex;
        justify-content: space-between;
    }

    .box-blue-button {
        background-color: #008CA7;
        color: white;
        width: fit-content;
        height: auto;
        padding: 0.2rem;
    }

    .blue-button {
        padding: 0.5rem 1rem;
        margin: auto;
        background-color: #008CA7;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }

   
   
    .box-white-button {
        background-color: #ffffff;
        width: fit-content;
        height: fit-content;
        padding: 0.2rem;
        border: 1px solid #0091ab;
    }

    .white-button {
        padding: 0.5rem 2rem;
        margin: auto;
        background-color: #ffffff;
        color: #008da8;
        font-weight: 590;
        border: 1px solid #a9dfe7;
    }

    .card-content-parent{
        display: flex;
        flex-direction: column;
        padding: 0rem 5rem;
    }
    .card-heading{
        margin-bottom: 2.5rem;
    }

    .card-content{
        
        margin:0 4rem 5rem 0;
    }

    .span-content{
        margin-left: 2rem;
        font-weight: 510;	
    }

    .span-style{
        
        margin-right:0.5rem;
        width: 1.5rem;
    }
    .step-margin{
        margin-bottom: 2.5rem;
    }

    .margin-buttons{
        margin-bottom:5rem;
    }

    .card-line{
        width:80%;
        text-align:center;
        height: 1px;
        background-color: #448ba7;
        border:none;
        margin: 0px auto;
    }
    .image-dim{
        height: 21.5rem;
        width: 45rem;
        filter: blur(4px);
        -webkit-filter: blur(4px);

    }

    .centered {
        text-align: center;
        color: #ffff;
        font-size: 22px;
        font-weight: 600;
        padding: 0rem 0rem 3rem;
    }

    .button-position {
        margin: 0px auto;
        width: fit-content;
    }

    .image-background{
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
    }

    .icon-position{
        padding:2rem 0rem;
        text-align: center;
    }

    .box-blue-button-white-border{
        background-color: #008CA7;
        color: white;
        width: fit-content;
        height: auto;
        padding: 0.2rem;
        border: 1px solid #ffffff;
        
    }
}
@media only screen and (max-width: 1024px) and (min-width: 767px){
     .desktop-view{
        
        display: none;
    }
    .tablet-view{
      
        display:block
    }
    .tab-margin-top{
        margin-top: 24px;
    }
    
    
    .row {
        display: flex;
        flex-direction: column;
        margin:4rem 0 2.5rem 0;
    }

    .column {
    position:relative;
    flex: 50%;
    }
    .column h1 {
        font-weight: 900;
        font-size: 35px;
    }
    
    .btn-container-width {
        background-color: lightblue; /* Adjust the background color as needed */
        /* width: calc(100% - 322px);  */
        /* Calculate the width of the remaining space after the first column */
        margin-bottom: 2rem;
        margin-top: 79px;
    }
    
    .box-blue-button {
        background-color: #008CA7;
        color: white;
        width: fit-content;
        height: auto;
        padding: 0.2rem;
    }





    .blue-button {
        padding: 0.5rem 2rem;
        margin: auto;
        background-color: #008CA7;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }

    .box-white-button {
        background-color: #ffffff;
        width: fit-content;
        height: fit-content;
        padding: 0.2rem;
        border: 1px solid #0091ab;
        margin-top: 2rem;
        margin-left: 0px;
    }

    .white-button {
        padding: 0.5rem 2rem;
        margin: auto;
        background-color: #ffffff;
        color: #008da8;
        font-weight: 590;
        border: 1px solid #a9dfe7;
    }

    .card-content-parent{
        display: flex;
        flex-direction: column;
        padding: 0rem 1rem;
    }
    .card-heading{
        margin-bottom: 2.5rem;
        margin-left: 28px;
       
    }

    .card-content{
        margin:3.5rem 4rem 5rem 1.75rem;
    }

    .span-content{
        margin-left: 1rem;
        font-weight: 510;
        	
    }

    .span-style{
        
        margin-right:0.5rem;
        width: 1.5rem;
    }
    .step-margin{
        margin-bottom: 3.5rem;
    }

    .margin-buttons{
        margin-bottom:5rem;
        justify-content: left;
    }

    .card-line{
        width:80%;
        text-align:center;
        height: 1px;
        background-color: #448ba7;
        border:none
    }
    .image-dim{
        height: 21.5rem;
        width: 45rem;
        filter: blur(4px);
        -webkit-filter: blur(4px);

    }
    .centered {
        position: relative;
        top: 55%;
        text-align: center;
        color: #ffff;
        font-size: 27px;
        font-weight: 600;
        padding: 0px;
    }
    .button-position {
        position: relative;
        /* top: 65%; */
         padding: 3rem;
        /* left: 36%; */
    }
    .image-background{
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
    }
    .icon-position{
        position: relative;
        /* top: -4%;
        left: 45%;    */
    }
    .box-blue-button-white-border{
        background-color: #008CA7;
        color: white;
        width: fit-content;
        height: auto;
        padding: 0.2rem;
        border: 1px solid #ffffff;
    }

    .box-white-button{
        margin: 0 0px;
    }

    .white-button{
        padding: 0.5rem 4rem;
    }
}
@media only screen and (max-width: 767px) and (min-width: 480px){
    .desktop-view{
    
        display:none
    }
    .tablet-view{
  
        display:block
    }
     .tab-margin-top{
        margin-top: 24px;
    }
    
    .row {
        display: flex;
        flex-direction: column;
        margin:4rem 0 2.5rem 0;
    }

    .column {
    position:relative;
    flex: 50%;
    }
    .column h1 {
        font-weight: 900;
        font-size: 35px;
    }
    .card-content{
        width: 100%;
    }
    .box-blue-button {
        background-color: #008CA7;
        color: white;
        width: fit-content;
        height: auto;
        padding: 0.2rem;
    }

    .blue-button {
        padding: 0.5rem 2rem;
        margin: auto;
        background-color: #008CA7;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }

    .card-content-parent{
        display: flex;
        flex-direction: column;
        padding: 0rem 1rem;
    }
    .card-heading{
        margin-bottom: 2.5rem;
         margin-left: 28px;
       
        
    }
    

    .card-content{
        
        margin:3.5rem 4rem 5rem 1.75rem;
    }

    .span-content{
        margin-left: 1rem;
        font-weight: 510;	
    }

    .span-style{
        
        margin-right:0.5rem;
        width: 1.5rem;
    }
    .step-margin{
        margin-bottom: 3.5rem;
    }

    .card-line{
        width:80%;
        text-align:center;
        height: 1px;
        background-color: #448ba7;
        border:none
    }
    .image-dim{
        height: 21.5rem;
        width: 45rem;
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }
    .centered {
        position: relative;
        top: 55%;
        text-align: center;
        color: #ffff;
        font-size: 27px;
        font-weight: 600;
        padding: 0px;
    }
    .button-position {
        position: relative;
        /* top: 65%; */
         padding: 3rem;
        /* left: 36%; */
    }
    .image-background{
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
    }
    .icon-position{
        position: relative;
        /* top: -4%;
        left: 45%;    */
    }
    .box-blue-button-white-border{
        background-color: #008CA7;
        color: white;
        width: fit-content;
        height: auto;
        padding: 0.2rem;
        border: 1px solid #ffffff;
    }

    .margin-buttons{
        margin-bottom:5rem;
        justify-content: left;
    }
}
@media only screen and (max-width: 480px){
     
    .desktop-view{
        display: block;
    }
    .row {
        display: flex;
        flex-direction: column;
        margin:4rem 0 2.5rem 0;
    }

    .column {
    position:relative;
    flex: 50%;
    }
    .column h1 {
        font-weight: 900;
        font-size: 35px;
    }
    .card-content{
        width: 100%;
    }
    .box-blue-button {
        background-color: #008CA7;
        color: white;
        width: fit-content;
        height: auto;
        padding: 0.2rem;
    }

    .blue-button {

        padding: 0.5rem 2rem;
        margin: auto;
        background-color: #008CA7;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.5); 
font-size: 18px;
font-weight: 500;
line-height: 24px;

    }

    .box-white-button {
        margin: 20px 0px;
    }

    .white-button{
        padding: 0.5rem 4rem;
    }


    .card-content-parent{
        display: flex;
        flex-direction: column;
        padding: 0rem 1rem;
    }
    .card-heading{
        margin-bottom: 2.5rem;
    }
    .sub-card-heading{
 font-size: 32px;
 font-weight: 900;

    }

    .card-content{
        
        margin:0 4rem 5rem 0;
    }

    .span-content{
        margin-left: 1rem;
        font-weight: 510;	
    }

    .span-style{
        
        margin-right:0.5rem;
        width: 1.5rem;
    }
    .step-margin{
        margin-bottom: 3.5rem;
    }

    .margin-buttons{
        margin-bottom:5rem;
        display: block;
    }
    .card-line{
        width:80%;
        text-align:center;
        height: 1px;
        background-color: #448ba7;
        border:none
    }
    .image-dim{
        height: 21.5rem;
        width: 45rem;
        filter: blur(4px);
        -webkit-filter: blur(4px);

    }
    .centered {
        font-size: 22px;
line-height: 29px;
        position: relative;
        top: 55%;
        text-align: center;
        color: #ffff;
        font-weight: 600;
        padding: 0px;
    }
    .button-position {
        position: relative;
        /* top: 65%; */
         padding: 3rem;
        /* left: 36%; */
    }
    .image-background{
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
    }
    .icon-position{
        position: relative;
        /* top: -4%;
        left: 45%;    */
    }
    .box-blue-button-white-border{
        background-color: #008CA7;
        color: white;
        width: fit-content;
        height: auto;
        padding: 0.2rem;
        border: 1px solid #ffffff;
    }
}

/* @media screen and (max-width: 519px){

    .row{

        display: block;

    }

    .button-position{
        position: relative;
        top: 62%;
        left: 25%;
    }

    .icon-position{
        position: relative;
        top: 62%;
    }

} */